body {
	font-family: Arial, Helvetica, Sans-Serif;
	font-size: 16px;
	margin:0;
	padding:0;
	color: black;
	height:100%
}

.bg {
	height: 100%;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

#home {
	/* background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(11).jpg"); */
	background-image: url("images/cloudy-forest.jpg");

}

#about {
	/* background-image: url("https://images.unsplash.com/photo-1504554907512-fff129be2012?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTd0d34"); */
	background-image: url("images/dusk.jpg")


}

#portfolio {
	/* background-image: url("https://best-wallpaper.net/wallpaper/1920x1200/1210/Dusk-landscape-fog-forest_1920x1200.jpg"); */
	background-image: url("images/forest-fog.jpg");
}

#contact {
	background-image: url("https://images.unsplash.com/photo-1519894877873-978b7d957c3d?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ&s=fdc84ef44309c3f7e69c120659441916");
}

.navbar {
	margin-bottom: 0px;
}

.wrapper {
	height: 100%;
	display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
}

.box {
	background: rgb(133,133,133,0.4);
	max-width: 70%;
	max-height: 100%;
	border:0.2em solid black;
	padding: 10%;
	border-radius: 5%;
	margin:0;
}

#portfolio p {
	text-align: center;
}

hr {
	border-color:black;
	background-color: black;
}

.item1 {
	width: 40%;
}

#portfolio img {
	width: 250px ;
	height: 200px;
	border:black;
}

 #portfolio a:visited{
	 text-decoration: none;
	 color: black;
 }

 #portfolio a:active{
	 text-decoration: none;
	 color: black;
 }

 #portfolio a:hover{
	 text-decoration: none;
	 color: black;
 }

 #portfolio a:link{
	 text-decoration: none;
	 color: black;
 }

  #background-container { 
    display:table;
    margin-top: 15%;
    border-collapse:collapse;
    box-sizing:border-box;
     /**/
    /* background: url(images/grey-backdrop.jpg) no-repeat center center; */
    background-color: rgb(133,133,133,0.4);
    background-size: cover;
     /* Vendor specific hacks */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.blocks {
    display:table-row;
}

.block {
    display:table-cell;
    height:100px;
    border:0.2em solid black;
    border-radius: 10%;
}

.inner-block {
	margin: 20px;
}

.about-header {
	position: absolute;
	background: rgb(133,133,133,0.4);
	border:0.2em solid black;
	padding: 2%;
	left: 0;
	right: 0;
	margin-top: 5%;
	margin-left: auto;
	margin-right: auto;
	width: 40%;
}

.about-header h1 {
	text-align: center;
}
