body {
	font-family: Arial, Helvetica, Sans-Serif;
	font-size: 12px;
	margin:0;
	padding:0;
	color: black;
	height:100%
}

 a:visited{
	 text-decoration: none;
	 color: black;
 }

 a:active{
	 text-decoration: none;
	 color: black;
 }

 a:hover{
	 text-decoration: none;
	 color: #fff;
 }

a:link{
	 text-decoration: none;
	 color: black;
 }

.bg {
	height: 100%;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

#home {
	background-image: url("images/cloudy-forest.jpg");

}

#about {
	background-image: url("images/dusk.jpg")


}

#portfolio {
	background-image: url("images/forest-fog.jpg");
}

#contact {
	background-image: url("images/trees-clouds.jpg");
}

.navbar {
	background: rgb(133,133,133,1);
	border-bottom: 0.2em solid black;
	position: fixed;
	width: 100%;
	text-align: center;
	height: 40px;
	line-height; 100px;
}

.navbar ul {
	list-style: none;
	padding: 0;
}

.navbar li {
	display: inline;
	margin: auto;
}

.navbar a {
	font-size: 18px;
	padding-right: 20px;
}

.wrapper {
	height: 100%;
	display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
}

.box {
	background: rgb(133,133,133,0.4);
	max-width: 70%;
	max-height: 100%;
	border:0.2em solid black;
	padding: 6%;
	border-radius: 5%;
	margin:0;
}

#about p {
	font-size: 16px;
}

.icon {
	width: 70px;
	margin-top: 20px;
	margin-right: 20px;
}

#portfolio p {
	text-align: center;
}

hr {
	border-color:black;
	background-color: black;
}

.item1 {
	width: 40%;
}

#portfolio img {
	width: 200px ;
	height: 150px;
	border:black;
}

#portfolio .box {
	border: none;
	background: none;
	max-width: 100%;
	max-height: 100%;
	padding: 0;
	margin: 0;
}

.block {
    display:table-cell;
    margin: 20px ;
    background-color: rgb(133,133,133,0.4);
    border:0.2em solid black;
    border-radius: 5%;
}

.inner-block {
	margin: 20px;
}

.blank {
	padding: 2.5%;
}

.portfolio-header {
	background: rgb(133,133,133,0.4);
	border:0.2em solid black;
 	border-radius: 5%;
	margin-bottom: 5%;
	padding-top: 20px;
	padding-bottom: 20px;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

/*Contact style*/

#contact .box {
	display: flex;
	justify-content: center;
}

#contact .wrapper {
	display: flex;
	text-align: left;
}

#contact h2 {
	text-align: center;
}

.links ul {
	list-style: none;
}

.links li {
	height: 40px;
	line-height: 40px;
	text-align: center;
}

.links img {
	width: 30px;
}

.links  button {
	margin: 20px;
}


.links a {
	display: block;
}
